/*** BASIC LAYOUT: HEADER ***/
.header {
    background-image: url('../../../image/banner.jpg');
}

.logo {
    float: left;
    padding: 2em 3em 2em 0;
}

.title {
    float: left;
    padding-top: 1.3rem;
    padding-bottom: 1em;
}

.title * {
    margin: 0;
    color: $black;
    font-weight: 200;
}

.logo * {
    display: block;
    height: 100%;
    filter: invert(94%);
}

.logo img {
    height: 100%;
}

.logo+.title h1 {
    margin: 0.5rem 0;
}

.logo+.title.tagline h1 {
    margin: 0;
}

.nav {
    padding-top: 2em;
    text-align: right;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    display: inline-block;
    margin-left: 0.8em;
    padding: 0;
    font-weight: bold;
}

.nav i {
    color: $accent;
}

.nav a,
.nav-toggle {
    color: $black;
}

.nav,
.active a,
.nav a:hover,
.nav-toggle:hover {
    color: $accent;
}

.nav i a:hover,
.nav-toggle:hover {
    color: $accent;
    text-decoration: underline;
}

.nav-toggle {
    display: none;
}

/* IE8 + IE9 clearfix */

.header>.container::after {
    content: '';
    display: block;
    clear: both;
}

.flash-img {
    width: 100%;
}

.divider {
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    width: 100%;
    height: 4px;
    color: transparent;
}
